{% extends "default.html" %}

{% block content %}

{% if success %}
    <div class="alert alert-success alert-dismissible fade show m-4" role="alert" id="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>{{ success }}</strong>
    </div>
    <script>
        setTimeout(()=>document.getElementById('alert').remove(),5000)
    </script>
{% elif error %}
    <div class="alert alert-danger alert-dismissible fade show m-4" role="alert" id="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>{{ error }}</strong>
    </div>
    <script>
        setTimeout(()=>document.getElementById('alert').remove(),5000)
    </script>
{% endif %}
<h1 class="mx-5 mt-4">{{ title }}</h1>

<div class="container">
    <form action="" class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" {% if btn %} value="{{btn}}" {% else %} value="Creer" {%endif %} class="btn btn-primary">
        {% if link == 'admin' %}
            <a href="{% url 'adminApp:home' %}" class="btn btn-info ms-5">Retour Acceuil</a>
        {% elif link == 'user' %}
            <a href="{% url 'user:root' %}" class="btn btn-info ms-5">Retour Acceuil</a>
        {% endif %}
    </form>


</div>
{% endblock content %}